.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;

  @media (min-width: 601px) {
    width: 90%;
  }
  @media (min-width: 993px) {
    width: 80%;
  }
}

.container.center{
 display: flex;
 justify-content:center;
}